html {
height:100%;
width:100%;
}

body{
font-family:Lucida Sans Unicode, Arial;
font-size:20px;
}

header{
background-color:#cff3eb;
}

h1{
font-size:3em;
text-align:center;
}

div {
font-family:Impact, Arial;
text-align:center;
font-size:25px;
background-color:greenyellow;
}

ul{
text-align:center;
background-color:greenyellow;
}

li{
display:inline-block;
width:250px;
}

p{
line-height:2.5;
}

img{
width:400px;
height:350px;
text-align:center;
display:inline-block;
}

footer{
background-color:black;
color:greenyellow;
}

nav{
background-color:#efeeee;
}

main{
background-color:#cff3eb;
font-size:20px;
}